*{
  background: beige;
  outline: none;
}
/* input {

} */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
}

p {
  background: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
  /* text-align: center; */
}

p.lowerMargin {
  margin: 5px;
  text-align: center;
}

button {
  background: lightgrey;
}

input {
  margin-left: 5px;
}

.multicolour-line {
  display: inline-flex;
  background-color: inherit;
  /* align-self: flex-end; */
  justify-content: center;
}

.deck {
  text-align: right;
  margin: 0px;
  /* display: inline-block; */
}

.creationZone {
  width: 31%;
}

.creationList.cardList {
  justify-content: flex-start;
}

.passiveZone {
  width: 39%;
}

.passiveList.cardList {
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.leader {
  /* background-image: url("./images/dogecropped.jpg"); */
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  text-align: center;
  border: 1px solid black;
  /* border-radius: 3px; */
  width: 160px;
  margin-left: 5px;
  margin-right: 5px;
}

.leaderDiv {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 140px;
}

.opponent-hand {
  text-align: left;
}

.player-hand {
  /* display: flex;
  justify-content: center; */
  text-align: center;
}

/* .gameStatus {
  text-align: center;
} */

.boardhalf {
  /* display: flex;
  justify-content: center; */
  text-align: center;
}

.cardList {
  display: flex;
  justify-content: center;
  text-align: center;
  /* overflow: visible; */
  height: 140px;
  margin-left: 5px;
  margin-right: 5px;
}

.cardList.playerHand {
  height: 165px;
}

.game-status {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
}


.card {
  /* background-image: url("./images/dogecropped.jpg"); */
  width: 150px;
  /* width: 7%; */
  background-color: lightgrey;
  border: 1px solid black;
  /* border-radius: 0px; */
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.card.boardSlot {
  background-color: darkgrey;
}

.card-name {
  margin-bottom: 8px;
  font-weight: 600;
}

.name-long {
  font-size: 12px;
}

.name-medium {
  font-size: 14px;
}

.name-short {
  font-size: 16px;
}

.card-text {
  flex-grow: 1;
  padding-bottom: 5px;
  /* min-height: 30%; */
  /* height: 70%; */
}

.text-long {
  font-size: 12px;
}

.text-medium {
  font-size: 14px;
}

.text-short {
  font-size: 16px;
}

.stat-label {
  color: white;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 7px;
}

.cost-label {
  /* color: seagreen; */
  background-color: rgb(78, 156, 111);
}

.attack-label {
  /* color: blue; */
  background-color: rgb(61, 107, 207);
}

.health-label {
  /* color: red; */
  background-color: rgb(201, 81, 81);
}

.canBeSelected {
  outline: solid green 2px;
}

.canBeTargeted {
  outline: solid red 1px;
}

.isSelected {
  outline: solid blue 1px;
}

.topBar {
  display: flex;
  justify-content: space-evenly;
}

#request-test-game, #update-display-name {
  background: lightgrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
