:root {
  --main-background-colour: beige;
  --card-background-colour: lightgrey;
  /* --card-background-colour: rgb(224, 186, 186); */
  --slot-background-colour: rgb(124, 124, 124);
  --border-colour: black;
  --highlightedTarget-colour: rgb(214, 86, 0);
  --nonHostileTarget-colour: rgb(9, 131, 5);
  --hostileTarget-colour: rgb(207, 0, 0);
  --isSelected-colour: rgb(25, 10, 231);
}

*{
  background: var(--main-background-colour);
  outline: none;
}

/* input {
  background-color: lightgrey;
} */

label {
  background-color: lightgrey;
}

select {
  margin-left: 5px;

}
span {
  background-color: transparent;
}

html {
  height: 100%;
}

body {
  /* -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;     
  -o-user-select: none;  */
  user-select: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  height: 100%;
}

p {
  background: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
  /* text-align: center; */
}

h2 {
  background: none;
}

form {
  background-color: lightgrey;
}

p.lowerMargin {
  /* margin: 1px; */
  /* margin-bottom: 0; */
  margin: 0;
  margin-right: 10px;
  text-align: center;
}

/* button {
  background: lightgrey;
} */

input {
  margin-left: 5px;
}

#root {
  height: 100%;
}


#gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#lobbyContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  /* ju */
  width: 100%;
  height: 100%;
}

#gameContainer.offscreen, #lobbyContainer.offscreen {
  display: none;
}

.challengeIncoming, .challengeSent, .challengePreparation, .popup {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 500px;
  height: max-content; 
  margin: auto;
  padding-bottom: 10px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 3px 2px black;
  background-color: var(--card-background-colour);
  z-index: 10;
  /* left: 50%;
  top: 50%; */
}

.lobbyPlayerList {
  height: 90%;
  width: 60%;
  align-content: space-evenly;
  background-color: rgb(141, 141, 141);
  /* border: 2px solid black; */
  border-radius: 5px;
  box-shadow: 0 0 3px 2px black;
  align-self: center;
  overflow-y: scroll;
  /* justify-self: center; */
  /* flex-grow: 1; */
}

.lobbyPlayerListTable {
  background-color: rgb(124, 124, 124);
  border-radius: 5px;
  border: 2px solid var(--slot-background-colour-colour);
  width: 100%;
  
}

.lobbyChat {
  height: 90%;
  width: 35%;
  align-self: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 3px 2px black;
  background-color: rgb(141, 141, 141);
  padding: 2px;
  overflow: scroll;
}

.chatMessage {
  background-color: transparent;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 10px;
  /* flex-; */
  display: flex;
  flex-direction: column;
}

.chatMessage.mine {
  align-items: flex-end;
  align-self: flex-end;
}

.chatMessageName {
  color: rgb(90, 90, 90);
  /* background-color: beige; */
  /* background-color: lightgrey; */
  background-color: rgb(202, 202, 177);

  padding-left: 4px;
  padding-right: 4px;
  /* padding-top: 1px; */
  padding-bottom: 2px;
  border-radius: 10px 10px 10px 0;
  width: fit-content;
  border-bottom: 1px solid darkgrey;
}

.chatMessageName.mine {
  border-radius: 10px 10px 0 10px;
}

.chatMessageName .playerName {
  color: black;
  font-size: 18px;
  margin-right: 5px;
  font-weight: 600;
}

.chatMessageName .timestamp, .playerNameNum {
  font-size: 12px;
  color: rgb(90, 90, 90);
}

.chatMessageText {
  width: fit-content;
  font-size: 14px;
  /* background-color: rgb(209, 209, 196); */
  background-color: lightgrey;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 10px;
  border-top: 1px solid darkgrey;
  border-radius: 0 10px 10px 0;
}

.chatMessageText.mine {
  border-radius: 10px 0 0 10px;
}

.chatMessageText:nth-last-child(1) {
  border-radius: 0 10px 10px 10px;
  /* border-bottom: none; */
}

.chatMessageText.mine:nth-last-child(1) {
  border-radius: 10px 0 10px 10px;
}

.lobbyChatMessages {
  overflow: hidden;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: rgb(141, 141, 141);
  /* margin-bottom: 5px; */
}

.lobbyChatForm {
  /* position: sticky;
  bottom: 0; */
  display: flex;
  border-radius: 10px;
  margin: 3px;
}

.lobbyChatFormText {
  background-color: transparent;
  border: transparent;
  flex-grow: 1;
  border-radius: 5px;
}

.lobbyChatFormButton {
  margin: 3px;
  margin-right: 6px;
  /* border: solid 2px grey; */
  /* border: lightgrey; */
  box-shadow: 0 0 1px 0px black;
  border-radius: 5px;
  font-size: 15px;
}

.lobbyPlayerButton, .challengeButtons button {
  border: solid 2px rgb(97, 97, 97);
  /* justify-self: center; */
  border-radius: 10px;
  font-size: 15px;
  margin: 3px;
  /* margin-top: 3px; */
  /* margin-bottom: 3px; */
}

.lobbyPlayerButton:hover, .lobbyChatFormButton:hover, .challengeButtons button:hover {
  /* background-color: rgb(179, 255, 149); */
  background-color: rgb(255, 239, 188);
}


table {
  /* border-collapse: collapse; */
  background-color: darkgrey;
}

thead  {
  background-color: darkgrey;
  position: sticky;
  top: 0;
  bottom: 0;
}

thead tr {
  background-color: darkgrey;
  position: sticky;
  bottom: 0;
  top: 0;
}

thead tr td {
  position: sticky;
  top: 0;
  bottom: 0;
  background-color: darkgrey;
  /* border-top: rgb(97, 97, 97) 3px solid; */
}

::-webkit-scrollbar { 
  display: none;
}


/* tbody {
  overflow: auto;
  display: block;
  width: 100%;
} */

/* tr { */
  /* background-color: var(--slot-background-colour); */
  /* border-radius: 5px; */
  /* justify-: center; */
  /* padding: 5px; */
  /* display: flex; */
  /* flex-direction: row; */
/* } */

td {
  font-size: 18px;
  font-weight: 600;
  background-color: var(--card-background-colour);
  border: 1px solid var(--border-colour);
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  /* flex-grow: 1; */
  height: 30px;
  /* justify-items: center; */
  /* border-radius: 3px; */
}

td.lobbyPlayerName {
  width: 35%;
}

td.lobbyPlayerStatus {
  width: 20%;
}

td.lobbyPlayerOpponent {
  width: 35%;
}

td.lobbyPlayerAction {
  width: 10%;
}
.notTargetable {
  /* filter: drop-shadow(0 0 1px black); */
  box-shadow: 0 0 2px 0 black;
}

.card:hover.notTargetable, .deck:hover, .legacy:hover {
  /* filter: drop-shadow(0 0 6px black); */
  box-shadow: 0 0 8px 0 black;
}

.highlightedTarget {
  z-index: 1px;
  /* filter: drop-shadow(0 0 12px var(--highlightedTarget-colour)); */
  box-shadow: 0 0 12px 4px var(--highlightedTarget-colour);
}

.card:hover.highlightedTarget {
  /* filter: drop-shadow(0 0 24px var(--highlightedTarget-colour)); */
  box-shadow: 0 0 28px 6px var(--highlightedTarget-colour);
}

.nonHostileTarget {
  /* filter: drop-shadow(0 0 10px var(--nonHostileTarget-colour)); */
  box-shadow: 0 0 12px 3px var(--nonHostileTarget-colour);
}

.card:hover.nonHostileTarget {
  /* filter: drop-shadow(0 0 18px var(--nonHostileTarget-colour)); */
  box-shadow: 0 0 14px 5px var(--nonHostileTarget-colour);
}

.hostileTarget {
  /* filter: drop-shadow(0 0 5px var(--hostileTarget-colour)); */
  box-shadow: 0 0 6px 1px var(--hostileTarget-colour);
}

.card:hover.hostileTarget {
  /* filter: drop-shadow(0 0 12px var(--hostileTarget-colour)); */
  box-shadow: 0 0 12px 2px var(--hostileTarget-colour);
}
       
.isSelected {
  /* filter: drop-shadow(0 0 5px var(--isSelected-colour)); */
  box-shadow: 0 0 6px 1px var(--isSelected-colour);
}

.card:hover.isSelected {
  /* filter: drop-shadow(0 0 12px var(--isSelected-colour)) */
  box-shadow: 0 0 12px 2px var(--isSelected-colour);
}

.multicolour-line {
  margin-left: 8px;
  margin-right: 8px;
  display: inline-flex;
  background-color: transparent;
  /* align-self: flex-end; */
  justify-content: center;
  /* font-size: 16px; */
}

/* .multicolour-line .attack-label, .multicolour-line .cost-label {
  ;
} */

.creationZone {
  width: 31%;
}

.emptyZone {
  align-self: center;
}

.creationList.cardList {
  justify-content: flex-start;
}

.passiveZone {
  width: 39%;
}

.passiveList.cardList {
  justify-content: flex-start;
  flex-direction: row-reverse;
}


.playarea {
  /* padding: 5px; */
  margin-top: 12px;
  margin-bottom: 12px;
  width: 98%;
  align-self: center;
  border-radius: 5px;
}

.outerPlayArea {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 140px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.outerPlayArea.player {
  margin-top: 10px;
}

.outerPlayArea.opponent {
  margin-bottom: 10px;
}

.outerPlayArea .Leader {
  /* background-image: url("./images/dogecropped.jpg"); */
  display: flex;
  flex-direction: column;
  background-color: var(--card-background-colour);
  text-align: center;
  border: 1px solid var(--border-colour);
  border-radius: 3px;
  width: 160px;
  margin-left: 5px;
  margin-right: 5px;
}

.innerPlayArea {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  text-align: center;
}

.opponent-hand {
  text-align: left;
}

.player-hand {
  /* display: flex;
  justify-content: center; */
  text-align: center;
}

/* .gameStatus {
  text-align: center;
} */

.cardList {
  display: flex;
  justify-content: center;
  text-align: center;
  /* overflow: visible; */
  height: 140px;
  margin-left: 5px;
  margin-right: 5px;
}

.cardList.big {
  height: 195px;
}

.cardList.playerHand {
  height: 165px;
}

.game-status {
  background-color: var(--card-background-colour);
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
}

.playerStatusDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player-status {
  margin: 6px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 600;
  font-size: 17px;
  padding: 2px 5px;
  border-radius: 10px;
  background-color: var(--card-background-colour);
  border: 1px solid var(--border-colour);
  /* width: 25%; */
  /* align-self: center; */
  filter: drop-shadow(0 0 1px);
}

.anchor {
  /* height: 15px; */
  /* width: 0px; */
  display: flex;
  flex-direction: column;
  position: relative; 
  align-items: center;
  justify-content: center;
}

.optionSelections, .mulliganSelections {
  background-color: transparent;
  position: absolute;
  align-items: center;
  z-index: 5;
}

.mulliganButtonDiv {
  margin-top: 20px;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.mulliganButtonDiv button {
  border: solid 2px rgb(66, 66, 66);
  font-size: 24px;
  border-radius: 15px;
  padding: 3px 8px;
  box-shadow: 0 0 8px 0 black;
}

.mulliganButtonDiv button:hover {
  /* background-color: rgb(177, 228, 175); */
  box-shadow: 0 0 12px 3px var(--nonHostileTarget-colour);
}

.optionActions, .mulliganChoices {
  background-color: transparent;
}

.cardClassColour {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  z-index: -1;
  /* box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.219) inset; */
  background-color: var(--card-background-colour);
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 2;
}

.overlay.fortune {
  box-shadow: 0 0 4px 4px rgba(230, 230, 141, 0.719);
  border-radius: 30px;
  background-color: rgba(230, 230, 141, 0.281);
}

.overlay.guard {
  box-shadow: 0 0 0px 4px rgb(83, 83, 83);
  border-radius: 5px;
  z-index: 1;
}

@keyframes healthChangeText-animation {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes damageOverlay-animation {
  5% {
    box-shadow: 0 0 4px 18px rgba(236, 59, 59, 0.877) inset;
  }
  10% {
    box-shadow: 0 0 4px 18px rgba(236, 59, 59, 0.651) inset;
  }
  20% {
    box-shadow: 0 0 4px 18px rgba(236, 59, 59, 0.514) inset;
  }
}


@keyframes healingOverlay-animation {
  10% {
    box-shadow: 0 0 4px 18px rgba(59, 236, 59, 0.877) inset;
  }
  20% {
    box-shadow: 0 0 4px 18px rgba(59, 236, 59, 0.651) inset;
  }
  30% {
    box-shadow: 0 0 4px 18px rgba(59, 236, 59, 0.514) inset;
  }
}

@keyframes deathOverlay-animation {
  10% {
    box-shadow: 0 0 2px 18px rgba(124, 124, 124, 0.514) inset;
    background-color: rgba(124, 124, 124, 0.151);
  }
  20% {
    box-shadow: 0 0 2px 18px rgba(124, 124, 124, 0.651) inset;
    background-color: rgba(124, 124, 124, 0.322);
  }
  30% {
    box-shadow: 0 0 2px 18px  rgb(124, 124, 124, 0.877) inset;
    background-color: rgba(124, 124, 124, 0.5);
  }
  100% {
    box-shadow: 0 0 2px 18px  rgb(124, 124, 124, 0.877) inset;
    background-color: rgba(124, 124, 124, 0.5);
  }
}

@keyframes dyingCard-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes actionOverlay-animation {
  10% {
    box-shadow: 0 0 2px 18px rgba(255, 255, 255, 0.514) inset;
    background-color: rgba(255, 255, 2555, 0.151);
  }
  30% {
    box-shadow: 0 0 2px 18px rgba(255, 255, 2555, 0.651) inset;
    background-color: rgba(255, 255, 2555, 0.322);
  }
  50% {
    box-shadow: 0 0 2px 18px  rgb(255, 255, 2555, 0.877) inset;
    background-color: rgba(255, 255, 2555, 0.5);
  }
  /* 100% {
    box-shadow: 0 0 2px 18px  rgb(255, 255, 2555, 0.877) inset;
    background-color: rgba(255, 255, 2555, 0.5);
  } */
}

.overlay.damage {
  animation: damageOverlay-animation 1s;
}
.overlay.damage.noDamage {
  animation: none;
}
.overlay.healing {
  animation: healingOverlay-animation 1s;
}
.overlay.death {
  animation: deathOverlay-animation 1s;
}
.overlay.action {
  animation: actionOverlay-animation 1s;
}

.healthChangeText {
  opacity: 0;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  top: 30%;
  left: 25%;
  margin: 0;
  width: 50%;
  height: 50%;
  padding: 0;
  transform: rotate(8deg);
  animation: healthChangeText-animation 3s;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.healthChangeText.damageText {
  color: rgb(255, 0, 0);
  filter: drop-shadow(0 0 10px rgba(155, 71, 71, 0.603));
}

.healthChangeText.healingText {
  color: rgb(0, 255, 0);
  filter: drop-shadow(0 0 10px rgba(71, 155, 71, 0.603));
}

.healthChangeText.nourishText {
  color: cyan;
  filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.603));
}

.healthChangeText.rotText {
  color: rgb(187, 3, 74);
  filter: drop-shadow(0 0 10px rgba(128, 0, 49, 0.603));

}

/* .cardTextSpan {
  background-color: transparent;
} */

.keyword {
  font-weight: 600;
}

/* .text-long .keyword {
  font-weight: 700;
} */

/* .notBolded {

} */

/* .allClasses {
} */

.art {
  /* box-shadow: 0 0 4px 4px rgba(206, 101, 238, 0.623) inset; */
  background-color: rgba(199, 137, 218, 0.295);
}

.arms {
  /* box-shadow: 0 0 4px 4px rgba(139, 69, 19, 0.514) inset; */
  background-color: rgba(201, 132, 82, 0.37);
}

.economy {
  /* box-shadow: 0 0 4px 4px rgba(68, 128, 0, 0.377) inset; */
  background-color: rgba(159, 209, 102, 0.212);
}

.empire {
  /* box-shadow: 0 0 4px 4px rgba(255, 196, 0, 0.418) inset; */
  background-color: rgba(255, 208, 0, 0.233);
}

.faith {
  /* box-shadow: 0 0 4px 4px rgba(90, 90, 90, 0.315) inset; */
  background-color: rgba(255, 255, 255, 0.658);
}

.infamy {
  /* box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.315) inset; */
  background-color: rgba(146, 146, 146, 0.664);
}

.learning {
  /* box-shadow: 0 0 4px 4px rgba(100, 202, 236, 0.76) inset; */
  background-color: rgba(0, 255, 255, 0.151);
}

.thePeople {
  /* box-shadow: 0px 0px 4px 4px rgba(168, 9, 9, 0.37) inset; */
  background-color: rgba(228, 144, 144, 0.301);
}

.card, .zone {
  /* background-image: url("./images/dogecropped.jpg"); */
  width: 150px;
  background-color: var(--card-background-colour);
  border: 1px solid var(--border-colour);
  border-radius: 3px;
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: relative;
  z-index: 0;
  text-align: center;
  /* padding: 4px; */
}

.card:hover, .Follower.inPlay{
  z-index: 4;
}

.card.big {
  width: 200px;
}

.card.combat, .Follower.inPlay.combat {
  transform: scale(1.1);
  z-index: 4;
}

.card.dying {
  opacity: 0;
  animation: dyingCard-animation 1s;
}

.card.dying.action {
  opacity: 1;
}

.BoardSlot.background {
  /* margin-left: 4px;
  margin-right: 4px; */
  padding: 0;
  /* border: 0; */
  visibility: hidden;
  /* background-color: transparent; */
  /* z-index: 1; */
}

.BoardSlot.background.followerDying {
  visibility: visible;
}

.BoardSlot.padding {
  visibility: hidden;
}

.Follower.inPlay {
  bottom: 1px;
  right: 1px;
  /* z-index: 1; */
  margin: 0;
  height: 100%;
  visibility: visible;
}

.addedText {
  overflow: hidden;
  width: inherit;
  opacity: 0;
  transition: all 0s 0s;
  position: absolute;
  pointer-events: none;
  /* display: none; */
  border: 1px solid var(--border-colour);
  background-color: var(--card-background-colour);
  font-size: 12px;
  border-radius: 5px;
  /* padding-left: 8px; */
  padding-bottom: 5px;
  /* transition-delay: 1s; */
  visibility: hidden;
  text-align: left;
  bottom: 0 ;
}

.card:hover .addedText {
  /* top: 102%; */
  /* z-index: 6; */
  opacity: 1;
  left: 104%;
  transition: opacity 0.15s cubic-bezier(0.2, 0.8, 0.3, 0.8) 0.5s;
  visibility: visible;
  filter: drop-shadow(0 0 4px);
}

.card:hover .addedText.tooltip {
  left: unset;
  right: 104%;
  /* top: 102%; */
  opacity: 1;
  transition: opacity 0.15s cubic-bezier(0.2, 0.8, 0.3, 0.8) 1s;
  visibility: visible;
  filter: drop-shadow(0 0 4px);
  /* z-index: 4; */
}

.relatedCard {
  overflow: hidden;
  width: inherit;
  left: unset;
  /* height: inherit; */
  height: 165px;
  opacity: 0;
  transition: all 0s 0s;
  position: absolute;
  pointer-events: none;
  margin: 0;
}

.card:hover .relatedCard {
  bottom: 104%;
  left: unset;
  opacity: 1;
  transition: opacity 0.15s cubic-bezier(0.2, 0.8, 0.3, 0.8) 1s;
  visibility: visible;
  /* filter: drop-shadow(0 0 4px); */
  /* margin: 0; */
}

.cardName:hover .hoverCard .relatedCard {
  transition: opacity 0.15s cubic-bezier(0.2, 0.8, 0.3, 0.8) 1s;
  position: absolute;
  top: unset;
  left: unset;
  /* right: 100%; */
  /* right: 100%; */
  /* bottom: 110%; */
  /* left: 0%; */
  /* right: 0%; */
}

.addedTextName {
  font-weight: 700;
  margin-left: 8px;
}

.addedTextText {
  margin-left: 8px;
}

.legacy, .deck { 
  z-index: 3;
  max-width: 130px;
}

.legacy .nameList {
  left: 104%;
}


.deck .nameList {
  right: 104%;
}


.nameList {
  position: absolute;
  background-color: var(--card-background-colour);
  border: 1px solid var(--border-colour);
  border-radius: 5px;
  top: 50%;
  transform: translate(0,-50%);
  z-index: 1;
}

.cardName {
  background-color: inherit;
  width: max-content;
  display: flex;
  flex-direction: row;
  /* flex-grow: 1; */
  margin: 4px;
  /* background-color: lightgrey; */
  /* border: 1px solid black; */
  border-radius: 6px;
  position: relative;
  /* align-items: center; */
  box-shadow: none;
}

/* .cardName.notTargetable {
} */

button.jobDone {
  transition: 0.5s;
}

.cardName.nonHostileTarget{
  /* color: saddlebrown; */
  /* font-weight: 600; */
  background-color: rgba(6, 173, 0, 0.25);
}
.cardName.nonHostileTarget:hover, button.jobDone  {
  background-color: rgba(6, 173, 0, 0.5);
}

.cardName.hostileTarget {
  background-color: rgba(207, 0, 0, 0.25);
}
.cardName.hostileTarget:hover {
  background-color: rgba(207, 0, 0, 0.5);
}

.cardName.isSelected {
  background-color: rgba(25, 10, 231, 0.25);
}
.cardName.isSelected:hover {
  background-color: rgba(25, 10, 231, 0.5);
}

.stat-label .decimal {
  font-size: 12px;
  font-weight: 600;
}

.cardName .stat-label {
  font-size: 12px;
}

.cardName .stat-label .decimal {
  font-size: 10px;
}

.hoverCard .stat-label {
  font-size: 16px;
}

.hoverCard .stat-label .decimal {
  font-size: 12px;
}

/* .hoverCard .stat-label .text-medium {
  font-size: 14px;
} */

.hoverCard {
  visibility: hidden;
  opacity: 0;
  transition: all 0s 0s;
  position: absolute;
  z-index: 4;
  /* pointer-events: none; */
}

.cardName:hover .hoverCard {
  filter: drop-shadow(0 0 4px);
  opacity: 1;
  transition: opacity 0.15s cubic-bezier(0.2, 0.8, 0.3, 0.8) 0.5s;
  visibility: visible;
  height: 165px
}

.card:hover .relatedCard {
  filter: drop-shadow(0 0 4px);
  opacity: 1;
  transition: opacity 0.15s cubic-bezier(0.2, 0.8, 0.3, 0.8) 1s;
  visibility: visible;
  height: 165px

}

.legacy .nameList .cardName:hover .hoverCard {
  left: 104%;
}

.deck .nameList .cardName:hover .hoverCard {
  right: 104%;
}

.card.BoardSlot {
  background-color: var(--slot-background-colour);
}

.card-name {
  margin-bottom: 8px;
  font-weight: 600;
}

.card-name.big {
  margin-bottom: 12px;
  /* font-weight: 700; */
}

.name-long {
  font-size: 12px;
}

.name-long.big {
  font-size: 15px;
}

.name-medium {
  font-size: 13px;
}

.name-medium.big {
  font-size: 18px;
}

.name-short {
  font-size: 16px;
}

.name-short.big {
  font-size: 20px;
}

.card-text {
  flex-grow: 1;
  padding-bottom: 5px;
  white-space: pre-line;
  /* min-height: 30%; */
  /* height: 70%; */
}

.text-long {
  font-size: 12px;
}

.text-long.big {
  font-size: 14px;
}

.text-medium {
  font-size: 13px;
}


.text-medium.big {
  font-size: 16px;
}

.text-short {
  font-size: 16px;
}

.text-short.big {
  font-size: 18px;
}

.stat-label {
  color: white;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 7px;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.stat-label.damaged {
  color: rgb(255, 129, 129);
}

.stat-label.buffed {
  color: rgb(108, 255, 108);
}

.decimal {
  background-color: transparent;
}

.cost-label {
  /* color: seagreen; */
  background-color: rgb(78, 156, 111);
}

.attack-label {
  /* color: blue; */
  background-color: rgb(61, 107, 207);
}

.health-label {
  /* color: red; */
  background-color: rgb(201, 81, 81);
}

.charges-label {
  /* color: red; */
  background-color: saddlebrown;
}

.armour-label {
  background-color: rgb(88, 88, 88);
}

.followerCategories {
  background-color: transparent;
  flex-grow: 1;
  overflow: visible;
  white-space: nowrap;
}

.followerCategory {
  background-color: transparent;
  /* font-size: 1px; */
  color: rgb(34, 34, 34);
  font-weight: 600;
}

/* .canBeSelected {
  outline: solid green 2px;
}

.canBeTargeted {
  outline: solid red 2px;
} */

.__react_component_tooltip.target-tooltip {
  color: black;
  font-size: 16px;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--card-background-colour);
  border: 1px solid var(--border-colour);
  box-shadow: 0 0 8px 0 black;
  /* margin-left: 10px; */
}

.playCard {
  position: absolute;
  left: 5%;
  z-index: 5;
  height: 195px;
  box-shadow: 0 0 12px 0 black;
  pointer-events: none;
}

.topBar {
  width: 100%;
  background-color: var(--card-background-colour);
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  border-bottom: solid rgb(78, 77, 77) 2px;
  padding-bottom: 1px;
}

/* #request-test-game, #update-display-name {
  background: lightgrey;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
